body {
    background-image: url('assets/images/background-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    background-size: cover;
    /* Ensure the background image covers the entire screen */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    background-attachment: fixed;
    /* Keep the background image fixed while scrolling */
    background-position: center;
    /* Center the background image */

}