/* Home page background image */
body {
    background-size: cover; /* Center the background image */
    background-image: url('../images/background-img.jpg');
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Keep the background image fixed while scrolling */
    background-position: center; /* Center the background image */
    background-size: 100% 100%;
}

/* Buttons */
button,
.btn,
#homeButton {
    background-color: #ed0049;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from anchor tag */
    display: inline-block; /* Make buttons display as block elements */
    cursor: pointer;
    width: 200px; /* Fixed width for all buttons */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin: 10px auto; /* Add margin to separate buttons */
}

button:hover,
.btn:hover,
#homeButton:hover {
    background-color: #003049; /* Dark blue on hover */
}

/* Button List */
.button-list {
    list-style: none;
    padding: 0;
    margin: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-list li {
    margin: 0px;
    text-align: center;
  }

  /* Remove bullet points and set text color for all unordered list items */
ul li {
    list-style-type: none;
    color: #4180a7;
  }
  
  /* Remove bullet points and padding for rules list */
  .rules-list {
    list-style-type: none;
    padding: 0;
  }

  .rules-list li {
    margin-bottom: 10px;
  }

  .rules-list li strong {
    font-size: 1.1em;
  }
  
  .rules-list p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #333;
}

/* Remove underline from logo img */
a {
    text-decoration: none;
}

.player-img {
    max-width: 45%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    transition: max-width 0.3s; /* Add transition to image max-width */
}

.not-found-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
}

/* Heading */
.heading {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 1rem;
}

/* Header */
header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #4180a7, #ed0049);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: font-size 0.3s; /* Add transition to header font size */
}

/* Center the title */
h1, h3 {
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

/* Logo */
.logo {
    height: 80px;
    padding-right: 5px;
    vertical-align: middle;
}

#wrapper {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: padding 0.3s; /* Add transition to wrapper padding */
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.container {
    text-align: center;
    margin-top: 5px;
    margin: 100px auto;
    margin-bottom: 5px;
    padding: 20px;
    transition: margin 0.3s; /* Add transition to container margin */
}

#question-container {
  width: auto;
  margin: 10px;
}

#playAgain {
    visibility: hidden;
}

/* MEADIA QUERY*/


/* For screens with a maximum width of 480px (e.g., smartphones) */
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 2rem;
  }

  .button-list {
    margin: 20%;
  }

  #text {
    margin-top: 30%;
  }

  /* Adjust button width and margin */
  .btn, button {
    margin: 15px 10px; /* Adjust button margin further */
  }

  .player-img {
    max-width: 100%;
  }

  /* Adjust container margin */
  .container {
    margin-top: 20px; /* Reduce container margin further */
    display: flex;
    padding: 0;
  }
}

/* For screens with a maximum width of 768px (e.g., tablets) */
@media screen and (max-width: 769px) {
  header h1 {
    font-size: 2rem;
  }

  .button-list li {
    margin: 0px;
  }

  .btn, button {
    width: 200px; /* Reduce button width */
    margin: 5px 10px; /* Adjust button margin */
  }

  #wrapper {
    padding: 30px; /* Reduce wrapper padding */
  }

  .container {
    margin-top: 50px; /* Reduce container margin */
  }

  .player-img {
    max-width: 100%;
  }

  #question-container button {
    flex-direction: column;
    width: 300px;
    margin: 10px 0;
  }
}

/* For screens larger than 768px */
@media screen and (min-width: 769px) {
  header h1 {
    font-size: 4rem;
  }
  .button-list {
    flex-direction: row; /* Switch to row layout for larger screens */
    flex-wrap: nowrap;
  }
  .button-list li {
    margin: 10px;
  }
  .btn, button, #homeButton {
    width: 200px; /* Ensure buttons take up equal space */
  }
  .player-img {
    max-width: 65%;
  }
  #question-container button {
    width: 200px; /* Ensure buttons take up equal space */
    margin: 5px 10px;
  }
}

/* For screens with a maximum width of 1024px */
@media screen and (max-width: 1024px) {
  header h1 {
      font-size: 2.5rem;
  }

  .button-list li {
      margin: 5px;
  }

  .btn, button {
      width: 200px; /* Maintain button width */
      margin: 10px; /* Adjust button margin */
  }

  .player-img {
      max-width: 80%; /* Adjust player image size */
  }

  #question-container button {
      margin: 10px 5px; /* Adjust button margin */
  }
}